<div class="container-fluid mt-5 about-style " id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            {{!-- left side --}}
            <h1 class="text-center main-heading">About us</h1>
            <p class="text-center sub-heading">Grow your bussiness with us</p>
            <div class="row">
                <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        <img src="images/robot.svg" alt="herosection_image" width="80%">
                    </figure>
                </div>

                {{!-- right side --}}
                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>WE ARE THE Professional Developers✌</h1>

                    <p>WE ARE <span class="bold-style"> Professional developers</span>
                        Welcome to our page for awesome things in your life </p>
                    <button class="btn-style btn-primary">Read more</button>
                </div>
            </div>
        </div>

    </div>
</div>