<div class="container-fluid mt-5 contact-style " id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            {{!-- left side --}}
            <h1 class="text-center main-heading">Contact us</h1>
            <p class="text-center sub-heading">We will be happy to help you</p>
            <div class="row">
                <div class="col-md-6 col-12 mx-auto ">
                    <form action="/contact" method="POST">
                        <div class="form-group">
                            <label for="exampleInputName">Enter your name</label>
                            <input type="text" class="form-control" id="exampleInputName"
                                placeholder="Enter your  Full Name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter your email" name="email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPhone">Enter your phone number</label>
                            <input type="number" class="form-control" id="exampleInputPhone" placeholder="Phone number"
                                name="phone">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputMessage">Enter your Query/Message</label>
                            <input type="text" class="form-control" id="exampleInputMessage"
                                placeholder="Write message here..." name="message">
                        </div>

                        <button type="submit" class="btn-style btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>