<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            {{!-- left side --}}
            <div class="row">
                <div
                    class="col-md-6 col-12 hero-text order-md-0 order-1  d-flex justify-content-center align-items-start flex-column">
                    <h1> WE WILL HELP YOU TO</h1>
                    <h1> GROW YOUR BUSSINESS</h1>
                    <p>I am student of <span class="bold-style"> B.tech'23 IT✌</span> </p>
                    <button class="btn-style btn-primary">Read more</button>
                </div>
                {{!-- right side --}}
                <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                    <figure>
                        <img src="images/main.svg" alt="herosection_image" width="100%">
                    </figure>
                </div>
            </div>
        </div>

    </div>
</div>