<div class="container-fluid mt-5 about-style " id="mapid">

    <div class="col-md-10 col-12 mx-auto">
        {{!-- left side --}}
        <h1 class="text-center main-heading">Our Map</h1>
        <p class="text-center sub-heading">GHATA-BILLOD</p>
        <section>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14726.178503331503!2d75.5113377720834!3d22.670760911966607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39624d82d0b6726f%3A0x1d68bdca48326f01!2sGhatabillod%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1617382066213!5m2!1sen!2sin"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
        </section>
    </div>

</div>